body{
	font-family: Roboto Condensed;

}
.asta{
	position: absolute;
width: 128px;
height: 126px;
left: 100px;
top: 170px;
}
.portfolio{
	position: absolute;
width: 146.96px;
height: 17.2px;
left: 87px;
top: 120px;

font-family: Roboto Condensed;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 42px;

color: #FFFFFF;
}
h5{
	position: absolute;
width: 180.16px;
height: 15.98px;
left: 151px;
top: 314px;

font-family: Roboto Condensed;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 42px;

color: #FFFFFF;

}
.Biographie{
	color: #EF2970;
}

.formation{
	color: #EF2970;
	font-family: Roboto Condensed;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 42px;
}
svg{
	color: #EF2970;
}
.bi-list{
	position: absolute;
	left: 300px;
}

.btn1{
	background-color: white; !important;
}
.btn1:hover{
	background-color: #EF2970 !important;
}

.text:hover{
	color: white; !important;
}
hr{
	color: #EF2970;
}
